.footer-wrapper {
    color: #CCCCCC;
    text-align: center;
    padding: 10px 30px;
}
.footer-wrapper > span {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}